#ecran {
    position: absolute;
    width: 410px;
    height: 50px;
    border: 2px solid black;
    left: 700px;
    top: 245px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}
#ce {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 700px;
    top: 305px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#c {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 805px;
    top: 305px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#retour {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 910px;
    top: 305px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#divise {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 1015px;
    top: 305px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sept {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 700px;
    top: 360px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#huit {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 805px;
    top: 360px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#neuf {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 910px;
    top: 360px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#multiplie {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 1015px;
    top: 360px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quatre {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 700px;
    top: 415px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cinq {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 805px;
    top: 415px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#six {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 910px;
    top: 415px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#soustrait {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 1015px;
    top: 415px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#un {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 700px;
    top: 470px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#deux {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 805px;
    top: 470px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#trois {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 910px;
    top: 470px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#additionne {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 1015px;
    top: 470px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inversion {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 700px;
    top: 525px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#zero {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 805px;
    top: 525px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#virgule {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 910px;
    top: 525px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#egal {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 1015px;
    top: 525px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}